asn1crypto==0.24.0
aws-google-auth==0.0.37
backports.functools-lru-cache==1.6.4
beautifulsoup4==4.9.3
boto3==1.17.66
botocore==1.20.66
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
configparser==4.0.2
cryptography==3.3.2
Django==1.11.29
entrypoints==0.3
enum34==1.1.10
filelock==3.0.12
futures==3.3.0
httplib2==0.19.0
idna==2.10
ipaddress==1.0.23
jmespath==0.10.0
keyring==18.0.1
keyrings.alt==3.2.0
lxml==4.6.3
Pillow==6.2.2
psycopg2-binary==2.8.6
pycparser==2.20
pycrypto==2.6.1
pygobject==3.26.1
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2021.1
pyxdg==0.25
requests==2.25.1
s3transfer==0.4.2
SecretStorage==2.3.1
six==1.15.0
soupsieve==1.9.6
sqlparse==0.2.4
tabulate==0.8.9
tzlocal==2.1
urllib3==1.26.4
